/* You can add global styles to this file, and also import other style files */
* {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
