/* You can add global styles to this file, and also import other style files */
* {
  --radius-s: 2px;
  --radius-m: 4px;
  --radius-l: 8px;

  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  --surface-1: rgba(0 0 0 / 0.15);
  --surface-2: rgba(0 0 0 / 0.4);
  --surface-3: rgba(0 0 0 / 0.6);
  --surface-4: rgba(0 0 0 / 0.8);

  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: var(--radius-m);
  cursor: pointer;
  padding: var(--spacing-s) var(--spacing-l);
}

.container {
  max-width: 1440px;
}

.container--centered {
  margin-inline: auto;
}
