/* You can add global styles to this file, and also import other style files */
* {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  --surface-1: rgba(0 0 0 / 0.15);
  --surface-2: rgba(0 0 0 / 0.4);
  --surface-3: rgba(0 0 0 / 0.6);
  --surface-4: rgba(0 0 0 / 0.8);

  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
